:root {
    --main_color: #8e7fb5;
    --main_shaded: rgb(110, 84, 157);
}

@keyframes load-ani {
    from{opacity:0;}
    to{opacity: 1;}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
    animation-name: load-ani;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.purple {
    color: var(--main_color);
    font-weight: bolder;
    display: inline;
}

.container {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.main {
    text-align: center;
    flex-direction: column;
    align-items:center;
}

.shade {
    animation-name: load-ani;
    animation-duration: 1.8s;
    animation-timing-function: ease-in;
    background-color: rgba(50, 50, 50, 0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    animation-name: load-ani;
    animation-duration: 2.6s;
    animation-timing-function: ease-in;
    background-color: rgba(30, 30, 30, 0.3);
    border-radius: 10%;
    color: white;
    height: fit-content;
    margin: 0;
    padding: 5%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0.2em;
}

.content p {
    margin: 0;
    font-size: 2em;
}

.click_btn {
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    border-radius: 2em;
    border-width: 0;
    background-color: var(--main_color);
    color: white;
    padding: 5%;
    box-shadow: 0 7px #d8d4d4;;
    transition: 0.2s;
}

.click_btn:active {
    box-shadow: 0 3px #666;
    transform: translateY(5px);
}

#learn_more {
    display: block;
    color: white;
    font-style: italic;
    margin-top: 1em;
    transition: 0.5s;
}

#learn_more:hover {
    font-size: larger;
}

.scrolled_down {
    top: 100vh;
}

#about {
    padding: 3%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.tagline {
    display: inline-block;
    width: 25%;
}

.description {
    margin: 0 25% 25%;
    text-align: center;
}

#carousel .slide {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

.ico_wrapper {
    background-color: var(--main_color);
    border-radius: 50%;
}

.slide .ico_wrapper {
    width: 80px;
    height: 80px;
    margin: auto;
}

.slide .ico_wrapper img {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

footer {
    position: absolute;
    width: 100vw;
    top: 210vh;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.contact {
    display: inline-block;
}

.contact .ico_wrapper {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    transition: 1s;
}

.contact .ico_wrapper img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.contact .ico_wrapper {
    width: auto;
    text-align: left;
    transition: 1s;
}

.contact .ico_wrapper .contact_hidden {
    display: inline;
    margin-right: 10px;
    font-size: smaller;
    color: white;
}

@media screen and (min-width: 900px) {
    .click_btn:hover {
        background-color: var(--main_shaded);
        font-size: 2.2em;
        transition: 0.1s;
    }

    .contact .ico_wrapper .contact_hidden {
        display: none;
    }

    .contact .ico_wrapper:hover {
        width: auto;
        text-align: left;
        transition: 1s;
    }

    .contact .ico_wrapper:hover .contact_hidden {
        display: inline;
        margin-right: 15px;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .main {
        background-image: url("../img/background.jpg");
        background-size: cover;
    }

    .content {
        background: none;
    }

    .content h1 {
        font-size: 3em;
    }

    .scrolled_down {
        font-size: smaller;
    }

    #about {
        display: block;
        padding: 5%;
    }

    .tagline {
        display: block;
        width: 100%;
    }

    .description {
        margin: 0 5% 5%;
    }

    footer {
        top: 220vh;
    }

    .contact .ico_wrapper {
        width: 300px;
    }
}

@media screen and (max-height: 600px) {
    body {
        font-size: smaller;
    }
    .content {
        background: none;
    }

    .content h1 {
        font-size: 3em;
    }

    footer {
        top: 290vh;
    }
}
